.canvasContainer {
  background-image: url("../../../../../../assets/images/photosphere-logo.gif");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  transition-duration: 0.5s;
}

.rectangle {
  aspect-ratio: 2;
}
