@import "sites/mogivi/styles/index.scss";

.suggestionList {
  background-color: $white;
  text-align: left;
  width: 100%;
  max-height: 450px;
  overflow: auto;
  position: absolute;
  top: 50px;
  z-index: 99;
  border: 1px solid #5a5a5a4d;
  border-top: 0;
  box-shadow: 0px 4px 8px -2px rgb(16 24 40 / 10%),
    0px 2px 4px -2px rgb(16 24 40 / 6%);

  .suggestionItem {
    width: 100%;

    h6 {
      padding: 1rem 2rem 0;
      font-weight: 600;
      color: $mid-grey;
    }

    .suggestionSubitem {
      span {
        padding: 1rem 2rem;
        display: block;
        width: 100%;
        color: $mid-grey;

        &:hover {
          background-color: #ececec;
        }
      }
      a {
        padding: 1rem 2rem;
        display: block;
        width: 100%;
        color: $mid-grey;

        &:hover {
          background-color: #ececec;
        }
      }
    }
  }

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }
}
