@import "sites/mogivi/styles/index.scss";

.filterResultContainer {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      margin: 25px 10px 15px 10px;
    }

    @include mobile {
      margin: 25px 10px 15px 10px;
    }

    .quantity {
      font-weight: bold;
      font-size: 25px;

      @include mobile {
        font-size: 14px;
      }
    }

    .sortName {
      font-weight: bold;

      @include mobile {
        font-size: 14px;
      }
    }

    .mainSort {
      position: relative;
      cursor: pointer;

      .titleSort {
        text-align: right;
        margin-right: 8px;
        width: 120px;

        @include mobile {
          width: 65px;
          font-size: 14px;
        }
      }
    }

    .popover {
      position: absolute;
      width: 200px;
      background-color: white;
      border: 0.5px solid #484848;
      border-radius: 5px;
      padding: 4px;
      z-index: 10;
      left: -100px;

      .popoverHeader {
        text-align: center;
        cursor: pointer;
        width: 50%;

        &.activeSort {
          color: $internal-orange;
          border-bottom: 1px solid $internal-orange;
        }
      }

      .filterOption {
        padding: 15px 10px 5px 15px;

        .itemContent {
          margin-bottom: 5px;

          &:hover {
            background-color: rgba(223, 222, 221, 0.2655);
          }

          &.activeContent {
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }
  }
}

.projectSearchContainer {
  position: relative;

  @include mobile {
    padding: 0 0.5rem;
  }

  .searchInput {
    margin-bottom: 20px;
    position: relative;
    max-width: 100%;
    margin: auto;

    .label {
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: #1e1e1e;
    }

    .input,
    .select {
      height: 50px;
      box-shadow: 0px 4px 8px -2px rgb(16 24 40 / 10%),
        0px 2px 4px -2px rgb(16 24 40 / 6%);
      padding-left: 3rem;
      border: unset;

      &:focus {
        outline: none;
        // border-color: #ced4da;
        box-shadow: 0px 4px 8px -2px rgb(16 24 40 / 10%),
          0px 2px 4px -2px rgb(16 24 40 / 6%);
      }
    }
  }

  .searchIcon {
    position: absolute;
    left: 1.2rem;
    top: 0.75rem;

    svg {
      fill: $light-grey;
    }
  }

  .spinner {
    position: absolute;
    left: 1.2rem;
    top: 1rem;

    [class~="spinner-border"] {
      color: $mid-grey !important;
      width: 1.2rem;
      border-width: 0.2rem;
      height: 1.2rem;
    }
  }

  .searchBtn {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    button {
      height: 50px;
      width: 100%;
      border-radius: 0;
    }
  }

  .suggestionList {
    background-color: $white;
    width: 100%;
    max-height: 450px;
    overflow: auto;
    position: absolute;
    top: 45px;
    z-index: 99;
    border: unset;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    box-shadow: 0px 4px 8px -2px rgb(16 24 40 / 10%),
      0px 2px 4px -2px rgb(16 24 40 / 6%);

    .suggestionItem {
      width: 100%;

      h6 {
        padding: 1rem 2rem 0;
        font-weight: 600;
        color: $mid-grey;
      }

      .suggestionSubitem {
        span {
          padding: 1rem 2rem;
          display: block;
          width: 100%;
          color: $mid-grey;

          &:hover {
            background-color: #ececec;
          }
        }
        a {
          padding: 1rem 2rem;
          display: block;
          width: 100%;
          color: $mid-grey;

          &:hover {
            background-color: #ececec;
          }
        }
      }
    }

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }
  }
}
