@import "sites/mogivi/styles/_variables.scss";

$inputContainerHeight: 50px;

.chatContainer {
  @include desktop {
    height: 100% !important;
  }

  @include tablet {
    height: 100% !important;
  }

  @include mobile {
    overflow-y: auto;
  }

  .contentContainer {
    max-height: 300px;
    overflow-y: auto;
    height: 300px;
    padding-right: 15px;
    padding-left: 15px;

    @include mobile {
      max-height: 100%;
      padding: 10px;
      height: 100%;
    }
  }

  .inputContainer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: $inputContainerHeight;
    display: flex;
    align-items: center;
    background-color: $white;
    padding-left: 10px;
    border-top: 1px solid $gray-3;
    border-radius: 0 0 8px 8px;

    @include desktop {
      position: relative;
    }

    @include tablet {
      position: relative;
    }

    .inputControl {
      &::after {
        content: none;
      }
    }

    .sendButton {
      svg {
        fill: $internal-orange;
        stroke: $internal-orange;
      }
    }
  }
}
