@import "../../../../styles/deviceWidth";
@import "../../../../styles/_variables";

.articleListContainer {
  padding: 50px;
  background-color: $light-gray;

  @include tablet {
    padding: 20px 15px;
  }

  @include mobile {
    padding: 20px 15px;
  }

  .articleTitle {
    text-align: center;
    margin-bottom: 50px;

    @include mobile {
      margin-bottom: 20px;
    }

    h2 {
      font-weight: 700;
      font-size: 46px;
      color: $dark-shade;

      @include tablet {
        font-size: 25px;
      }

      @include mobile {
        font-size: 18px;
      }
    }

    p {
      font-size: 20px;
      color: $dark-shade;

      @include tablet {
        font-size: 14px;
      }

      @include mobile {
        font-size: 10px;
      }
    }
  }

  .cardContainer {
    border: 0;
    border-radius: 1rem;
    height: 100%;

    &:hover {
      .cardTitle {
        color: $text-orange;
      }
    }

    [class="card-body"] {
      padding: 0;
    }

    .cardImage {
      border-radius: 1rem 1rem 0 0;
      overflow: hidden;

      & > img {
        width: 100%;
      }
    }

    .ic360 {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .cardTitle {
      font-weight: 700;
      font-size: 1.5rem;
      color: $black;

      @include mobile {
        font-size: 24px;
      }
    }

    .cardAddress {
      margin-left: 20px;
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.6);

      @include mobile {
        font-size: 16px;
        margin-left: 16px;
      }
    }

    .cardFooter {
      background-color: $white;
      font-size: 1rem;
      border-radius: 0 0 1rem 1rem;

      h5 {
        color: rgba(0, 0, 0, 0.6);
        font-size: 1rem;

        @include mobile {
          font-size: 16px;
        }
      }

      span {
        font-size: 16px;
        color: $black;
        @include mobile {
          font-size: 14px;
        }
      }
    }
  }

  .seeMore {
    text-align: center;
    margin-top: 50px;

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 16px;
      margin-top: 20px;
    }
  }
}

.agency {
  font-size: 14px;
  display: flex;
  align-items: center;
  max-width: 50%;
  @include mobile {
    max-width: 100%;
  }
}

.agencyAvatar {
  border-radius: 50%;
  border: 1px solid $zircon;
  object-fit: cover;
}

.tagContainer,
.detail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.detail {
  justify-content: space-between;
  margin-top: 1rem;
  [class~="text-internal-orange"] {
    color: $internal-orange !important;
  }
}

.tagContainer > div {
  width: 50%;
  display: flex;
  align-items: center;
  @include largeDesktop {
    width: 33%;
  }
}

.line1Contain2Tag {
  @include largeDesktop {
    justify-content: space-between;

    div:nth-child(1),
    div:nth-child(2) {
      width: 50%;
    }
    div:nth-child(2) {
      text-align: end;
    }
  }
}
