@import "sites/mogivi/styles/index.scss";

.statContainer {
  background-color: $white;
  padding: 3rem 0;

  .statItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 1.75rem;
    }
    span {
      color: $gray-2;
    }
  }
}
