@import "sites/mogivi/styles/index";

.bannerMobileContainer {
  width: 100%;
  background-color: #fafafa;

  .productMedia {
    margin-top: 2rem;

    @include desktop {
      margin-top: 0;
    }

    iframe {
      width: 100%;

      @include desktop {
        min-height: 30rem;
      }
    }
  }

  .bannerContent {
    padding: 2rem 0;

    @include desktop {
      padding: 7rem 0;
      text-align: start;
    }

    h1 {
      @include desktop {
        font-size: 3rem;
        font-weight: 600;
      }
    }

    .subtitle {
      p {
        @include desktop {
          font-size: 1.3rem;
        }
      }
    }
  }

  .btnLink {
    @include btnLink;
    @include btnArrow;
    width: 50%;
    line-height: 1rem;

    @include desktop {
      width: unset;
      font-size: 1.1rem;
    }

    .arrowIcon {
      @include arrowIcon;
    }

    &:hover {
      .arrowIcon {
        opacity: 1;
        right: 0.5rem;
      }
    }
  }
}
