@import "sites/mogivi/styles/deviceWidth";
@import "sites/mogivi/styles/variables";

.galleryFeatureContainer {
  background-image: url("../../../../../../public/images/basic-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9.375rem 0;

  @include mobile {
    background-position: center;
    padding: 4.6875rem 0;
  }

  .galleryFeatureTextGroup {
    h2 {
      text-align: center;
      font-weight: 700;
      margin-bottom: 3rem;
      font-size: 3rem;

      @include mobile {
        font-size: 2rem;
      }
    }
  }

  .textCard {
    justify-content: center;
    gap: 1.25rem;

    .cardImgContainer {
      position: relative;
      display: inline-flex;
      width: 26.25rem;

      &::before {
        content: "";
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        background: transparent;
        z-index: 2;
        transition: 0.3s;
      }

      &:hover {
        &::before {
          background: rgba(240, 80, 35, 0.8);
          z-index: 2;
        }

        .cardDescription {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 1rem;
          gap: 2rem;
          text-align: left;
          width: 100%;
          height: 100%;
        }
      }
    }

    .cardImgBox {
      position: relative;
      width: 26.25rem;
      height: 20rem;
      background-color: #d9d9d9;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      h1 {
        font-size: 1.5rem;
      }
    }

    .cardContent {
      position: absolute;
      bottom: 1.75rem;
      left: 2rem;
      //   overflow: hidden;

      .cardInfo {
        h3 {
          color: $white;
        }
      }

      .cardPosition {
        color: $text-orange;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0;
      }
    }

    .cardDescription {
      position: absolute;
      top: 0;
      left: 0;
      color: $white;
      text-align: left;
      padding: 1rem 2rem;
      z-index: 5;
      display: none;
      transition: all ease-in 0.3s;

      h4,
      h1 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.5rem;
      }

      p {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.625rem;
      }
    }

    @include mobile {
      padding: 0 1rem;
    }
  }
}
