@import "sites/mogivi/styles/deviceWidth";
@import "sites/mogivi/styles/variables";

.promotionIntroContainer {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9rem 0;

  @include mobile {
    padding: 4rem 1rem;
  }

  .promotionBox {
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  .promotionIntroTextGroup {
    h2 {
      font-weight: 700;
      margin-bottom: 3rem;
      font-size: 4.5rem;
      color: $text-orange;

      @include mobile {
        font-size: 3.5rem;
        margin-top: 3rem;
      }
    }
  }

  .leftContent {
    font-weight: 600;
    font-size: 2rem;
    line-height: 44px;
    color: #1e1e1e;
    width: 90%;

    @include mobile {
      width: 100%;
      font-size: 1.8rem;
    }
  }

  .rightContent {
    height: 23.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    [class="btn-orange"] {
      display: inline-block;
      padding: 0.5rem 2rem;
    }

    @include mobile {
      height: 100%;
      justify-content: unset;
    }
  }
}
