@font-face {
  font-family: "Neue-Haas-Unica-Pro";
  src: url("../assets/fonts/NeueHaasUnicaPro-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue-Haas-Unica-Pro";
  src: url("../assets/fonts/NeueHaasUnicaPro-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue-Haas-Unica-Pro";
  src: url("../assets/fonts/NeueHaasUnicaPro-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue-Haas-Unica-Pro";
  src: url("../assets/fonts/NeueHaasUnicaPro-Bold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue-Haas-Unica-Pro";
  src: url("../assets/fonts/NeueHaasUnicaPro-Heavy.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue-Haas-Unica-Pro";
  src: url("../assets/fonts/NeueHaasUnicaPro-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
