.default-tag {
  background-color: $text-orange;
}

.tag-orange {
  background-color: $text-orange;
}

.tag-success {
  background-color: $success;
}

.tag-danger {
  background-color: $danger;
}

.tag-warning {
  background-color: $yellow;
}

.tag-secondary {
  background-color: $manatee;
}

.tag-teal {
  background-color: teal;
}
