@use "../../styles.module.scss";
@import "sites/mogivi/styles/index.scss";

.neighborProjectContent {
  .neighborProjectItem {
    padding: 0 0.5rem;
  }

  .projectImg {
    position: relative;
    width: 100%;
    height: 200px;
  }

  .otherProjectBody {
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: $white;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.9));
  }

  [class~="slick-slider"] {
    margin-bottom: 2.5rem;
  }

  [class~="slick-dots"] {
    bottom: -35px;
  }

  [class~="slick-next"]::before,
  [class~="slick-prev"]::before {
    color: $black;
  }
}
