@import "sites/mogivi/styles/deviceWidth";
@import "sites/mogivi/styles/index.scss";

.errorContentContainer {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;

  @include largeDesktop {
    min-height: 860px;
  }

  @include mobile {
    background-position: unset;
  }

  .errorBanner {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    position: relative;
    top: 25vh;

    @include mobile {
      top: 7rem;
      flex-direction: column;
    }

    .errorLeftContent {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: $white;
      position: relative;
      bottom: 2rem;
      min-width: 55%;

      @include mobile {
        position: unset;
        bottom: unset;
        margin-bottom: 2rem;
      }

      h2 {
        font-weight: 500;
        font-size: 3rem;

        @include mobile {
          font-size: 2rem;
        }
      }

      p {
        font-size: 1.75rem;
        color: #f3cbc0;

        @include mobile {
          font-size: 1.2rem;
        }
      }

      @include largeDesktop {
        bottom: 0;
      }

      @include mobile {
        text-align: center;
        padding: 0 1rem;
      }
    }

    .contactContainer {
      color: $white;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;

      @include mobile {
        display: block;
      }

      & > div {
        @include mobile {
          padding: 0 20px;
        }

        & > div {
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 10px;

          @include mobile {
            margin-bottom: 15px;
          }

          br {
            display: none;

            @include mobile {
              display: unset;
            }
          }

          b {
            @include mobile {
              margin: 0 10px;
            }
          }

          a {
            color: $white;
            text-decoration: none;

            &:hover {
              color: $black;
            }
          }
        }
      }
    }
  }
}

.customMessage {
  font-size: 1.75rem;
  color: $bisque;

  [class~="white-space-nowrap"] {
    white-space: nowrap;
  }

  a {
    font-weight: bold;
    color: $white;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }
}
